*__pycache__/
samples*/
runs/
checkpoints/
master_ip
logs/
*.DS_Store
.idea
/cogvideo2b
/sat/ckpts_2b_lora
/sat/cogvideox-2b-sat
/sat/cogvideox-5b-sat
/sat/t5-v1_1-xxl
/.vscode
output*
test*
/sat/datasets
*ossutil*
*.pt
*.pyc